.logo {
    
    img {
        height: 2em;
        position: relative;
        top: .25em;
        margin-right: 1em;
    }

    span {
        font-size: 2em;
        font-weight: bold;
        text-transform: uppercase;
    }

}