.viewers {
    img {
        height: 0.9em;
        width: 0.9em;
        margin-right: 0.35em;
        margin-top: 0.2em;
    }
    margin-right: 2em;
    .viewer-count {
        margin-right: 1.25em;
    }
}