.footer-card {
    text-align: left;
}
.footer-card .title {
    font-weight: bold;
    text-transform: uppercase;
    white-space: nowrap;
}
.footer-card .title, .footer-card .call-to-action {
    text-align: center;
}