.match-header {
    position: absolute;
    left:0;
    top:0;
    right:0;
    height: 2.5em;
    padding: .25em;
    background-color: rgba(0,0,0,.5);

    .triplet > div {
        padding: .1em;
    }

    .next-game > .label {
        text-transform: uppercase;
    }
}
